<!DOCTYPE html>
<html lang="en" data-theme="dark">
	<%=server.templateManager.renderTemplate("head.html", {
		title: "MCP-VODS: FAQ page",
		description: "Frequently asked questions."
	})%>
	<body>
		<%=server.templateManager.renderTemplate("menu.html")%>
		<div class="container">
			<div class="h5 ms-content ms-text-center py-4 shadow">
				You can ask questions here: <a target="_blank" href="https://discord.gg/Z2tpCwRNHz">Alfredo's Size 3 Taco Truck discord</a>.
				<br>
				<!-- <br>
				You can also contact Nate via email: <a href="mailto:e.i.k.a@outlook.com">e.i.k.a@outlook.com</a>. -->
			</div>
		</div>
	</body>
</html>